.item {
  position: relative;
  margin-bottom: 25px;
  padding: 10px 25px;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  background-color: rgba(114, 121, 105, 0.78);
}

.like {
  position: absolute;
  top: -5px;
  left: -5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px;
  font-weight: bold;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  color: rgb(3, 154, 255);
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
}
